alembic==1.13.1
Flask==3.0.3
Flask_Bootstrap==3.3.7.1
Flask_Login==0.6.3
flask_mail==0.10.0
Flask_Migrate==4.0.5
Flask_Moment==1.0.6
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
PyJWT==2.9.0
pytest==8.3.2
pytest-cov==5.0.0
pytest-mock==3.14.0
SQLAlchemy==2.0.23
Werkzeug==3.0.4
WTForms==3.1.2
Babel==2.16.0
flask_babel==4.0.0
python-dotenv==1.0.1
email_validator==2.2.0
elastic-transport==8.15.1
elasticsearch==8.16.0